$cs: (
  1: black,
  2: red,
  3: #fcbe2c,
  4: #fd9f28,
  5: white,
);

.decorNone {
  text-decoration: none;
}
.Cwhite {
  color: map-get($cs, 5);
  &:hover {
    color: map-get($cs, 1);
  }
}

.valuesBorder {
  border-radius: 5px;
  border: 1px dotted map-get($cs, 4);
}

.textShadow {
  text-shadow: 1px 1px 3px rgb(43, 40, 40);
}

.coloredName {
  border-radius: 5px;
  padding: 1%;
}
.my-picker {
  max-width: 280px;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: map-get($cs, 5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: map-get($cs, 4);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map-get($cs, 3);
}

.my-card {
  width: 100%;
  max-width: 250px;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.spaceb {
  justify-content: space-between;
}

.justifyc {
  justify-content: center;
}

.flexend {
  justify-self: flex-end;
}

.alignc {
  align-items: center;
}

.right {
  float: right;
}

.left {
  float: left;
}
